$header-footer1: #4F319D;
$header-top1: #5631B4;
$bg: #dad7df;

body {
  background-color: $bg;
}

footer > div {
  color: white
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0
}

#navbarHeader {
  background-color: $header-top1;
}

.description {
  color: white;
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navbar {
  background-color: $header-footer1;
}

footer {
  background-color: $header-footer1;
}

#header-img {
  width: 45px;
}

.footer-copyright > a {
  color: white;
  text-decoration: underline;
}