body {
  background-color:rgb(201, 210, 235);
}

footer > div {
  color: white
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0
}

#navbarHeader {
  background-color: #0a3fa3c2;
}

.description {
  color: white
}

.navbar {
  background-color: #023085c2;
}

footer {
  background-color: #023085c2;
}

#header-img {
  width: 45px;
}

.footer-copyright > a {
  color: white;
  text-decoration: underline;
}