$border-color: rgb(170, 170, 170);
$material-colors: (
  red: #f44336,
  pink: #e91e63,
  purple: #9c27b0,
  deep-purple: #673ab7,
  indigo: #3f51b5,
  blue: #2196f3,
  light-blue: #03a9f4,
  cyan: #00bcd4,
  teal: #009688,
  green: #4caf50,
  light-green: #8bc34a,
  lime: #cddc39,
  yellow: #ffeb3b,
  amber: #ffc107,
  orange: #ff9800,
  deep-orange: #ff5722,
  blue-grey: #607d8b
);

.inline-ul {
  .inline-li {
    display: block;
    margin: 2px 20px;
  }

  .inline-li:hover {
    cursor: pointer;
  }

  // .inline-li::after { 
  // content: attr(data-title); 
  // }
  // .inline-li:hover::after { 
  // content: attr(data-title); 
  // }
}

/**
 * Code for checkboxes
 */
.checkbox {
  position: relative;
  
  width: 1rem;
  height: 1rem;
  margin-right: .75rem;
  
  cursor: pointer;
  appearance: none;
  outline: 0;
 
  &:before {
    content: '';
    
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    
    width: 100%;
    height: 100%;
    
    border: 1px solid #ced4da;
    
    transition: all 0.3s ease-in-out;
  }

  &:checked:before {
    height: 50%;
    
    transform: rotate(-45deg);
    
    border-top-style: none;
    border-right-style: none;
  }
  
  /**
   * Iterate over map and autogenerate helper classes.
  */
  @each $name, $value in $material-colors {
    &--#{$name}:checked:before {
      border-color: $value;
    }
  }
}

.modal-dialoge {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);

  .modal-content {
    z-index: 15;
    top: 30%;
  }
}
